.container{
    margin: 0px 5%;
    border: 1px solid white;
    /* background-color: green; */
    /* height: 400px; */
}

.speakersContainer{
    /* background-color: orange; */
    margin: 5% 5% 0% 5%;
    height: 300px;
}

.container h1{
    color: var(--color-text);
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 1.75px;
    /* margin-left: 50px; */
}

.container a{
    /* background-color: yellow; */
    margin: 0px 5%;
    color: white;
    background-color: #A386FF;
    padding: 9px 36px;
    border: 1px solid white;
    text-decoration: none;
    font-size: 21px;
}

.yearsOfRails{
    /* background-color: #F3EDFF !important; */
    border: 1px solid white;
    display: flex;
    margin: 50px 5%;
}

.years20{
    /* background-color: green; */
    width: 40%;
    text-align: center;
    background-color: #F3EDFF;
}

.years20 h2{
    color: #3B1D62;
    background-color: #F3EDFF;
    padding: 20px;
    font-size: 46px;
}

.description{
    background-color: #F3EDFF;
    text-align: center;
    width: 60%;
}

.description p{
    color: #BF281C;
    padding: 10px;
    /* background-color: yellow; */
    font-size: 25px;
    font-weight: 550;
    background-color: #F3EDFF;
}

.description button{
    color: white;
    background-color: #BF281C;
    border: 1px solid white;
    padding: 10px 36px;
    font-size: 20px;
    font-weight: 600;
    margin: 15px;
}

