.container{
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
}

.introduction{
    /* background-color: green; */
    text-align: center;
    justify-content: center;
}

.introduction p{
    color: var(--color-text);
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    font-family: "acumen,sans-serif";
}

.linksContainer{
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    border-left: none;
    border-right: none;
    /* background-color: green; */
}

.navbarLinks{
    /* background-color: blueviolet; */
    width: 60%;
}

.navbarLinks img{
    background-color: grey;
    margin-top: 15px;
    margin-left: 5%;
    margin-bottom: 15px;
    width: 50%;
}

.myLinks{
    display: flex;
    flex-direction: row;
    /* background-color: purple; */
}

.myLinks ul{
    /* background-color: blue; */
    display: flex;
    flex-direction:row;
}

.myLinks ul li{
    /* background-color: yellow; */
    list-style: none;
}

.myLinks ul li a{
    /* background-color: aqua; */
    margin: 25px 10px;
    color: var(--color-text);
    font-weight: 600;
    font-size: 30px;
    justify-content: space-between;
    text-decoration: none;
}

.myLinks button{
    padding: 8px 30px;
    font-size: 16px;
    color: var(--color-text);
    background-color: #3B1D62;
    border: 1px solid white;
    /* font-family: "acumin-variable"; */
}

@media screen and (max-width: 768px){
    .linksContainer{
        display: flex;
        flex-direction: column;
    }

    .navbarLinks{
        text-align: center;
        justify-content: center;
    }
    
}

