.container{
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
}

.introduction{
    /* background-color: green; */
    text-align: center;
    justify-content: center;
}

.introduction p{
    color: var(--color-text);
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    font-family: "acumen,sans-serif";
}

.linksContainer{
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    border-left: none;
    border-right: none;
    background-color: green;
}

.navbarLinks img{
    background-color: grey;
    margin-top: 15px;
    margin-left: 5%;
    margin-bottom: 15px;
    width: 50%;
}

.myLinks{
    display: flex;
    flex-direction: row;
    background-color: green;
}

.myLinks a{
    margin-left: 0;
    background-color: blue;
}

