.thanksSponsors{
    margin: 0px 5%;
    border: 1px solid white;
    border-bottom: none;

}

.thanksSponsors h2{
    color: var(--color-text);
    margin-top: 5%;
    margin-left: 5%;
    font-size: 50px;
    /* background-color: yellow; */
}

.thanksSponsors p{
    color: var(--color-text);
    /* background-color: green; */
    font-size: 25px;
    padding-top: 10px;
    font-weight: 600;
    margin-left: 5%;
}

.sponsorsListContainer{
    /* background-color: green; */
    margin: 0px 5%;
    border: 1px solid white;
    /* border-top: none; */
}

.sponsors{
    /* background-color: green; */
    border: 1px solid white;
    margin: 30px 5%;
}

.sponsorsList{
    background-color: yellow;
    border: 1px solid white;
    margin: 10px;
    height: 40px;
}